
body {
  margin:0px;
  background-color : #76b1f5;
  height:100%;
 /* position:absolute; */
}

.container-fluid {
  padding:0px;
}

h2 {
  text-align: center;
  background-color:lightgrey;
  margin:0;
  padding:30px;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.mapdiv {
  /*width:500px; */
}

.map {
  display:inline-block;
 width:40%;
  


}
div.container > * {
    margin-left: ;-left: 1%;
    margin-right: 1%
}

.container {
  width:100%;

  text-align: center;

}

/*
#plot {
  display: inline-block;
  width:100%;
}
*/ 

.plots {
  width:40%;
  padding:0px;
    display: inline-block;
    border:1px solid black;
}
  
.options {
  width:10%;
  height: 100%;
  display: inline-block;
  margin-bottom: auto;
  margin-top: auto;
  padding:0;

}

.inorderul li {
}

.inorderulLi {
    width:100px;
    height:100px;
}

.selected{
  margin-bottom: 10px;
}

.secCountry {
  margin-bottom: 20px;
}

