
body {
  margin:0px;
  background-color : #76b1f5;
  height:100%;
 /* position:absolute; */
}

.container-fluid {
  padding:0px;
}

h2 {
  text-align: center;
  background-color:lightgrey;
  margin:0;
  padding:30px;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.mapdiv {
  /*width:500px; */
}

.map {
 width:60%;
 margin:10px;
 margin-right: 10%;
float:right;
display:inline;

}

.container {
  width:100%;
  padding: 100px;
  position:relative;
}


.options {
  width: 200px;
  margin:10px;
  float:left;
  display:inline;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.inorderul li {
}

.inorderulLi {
    width:100px;
    height:100px;
}

.selected{
  margin-bottom: 10px;
}


