
body {
  margin:0px;
  background-color : #76b1f5;
  height:100%;
 /* position:absolute; */
}

.container-fluid {
  padding:0px;
}

h2 {
  text-align: center;
  background-color:lightgrey;
  margin:0;
  padding:20px;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}


.map {
  display:inline-block;
 width:50%;
 height: 500px;
}

#map {
  border: 1px solid black;
}
div.container > * {
    margin:10px;
    
}

.container {
  width:100%;
  text-align: center;

}


.plots {
  width:40%;
  height: 500px;
  padding:0px;
  display:inline-block;
  border:1px solid black;
}
  
div.options > * {
  margin-left:10px;
  margin-right:10px;
}
.options {
  text-align: center;
  justify-content: center;
  display: flex;
  padding:0;

}


.selected{
}

.inlineOptions {
  display:inline-block;
}

#selectedCountry {
  height: 34px;
  width: 300px;
  text-align: center;
  justify-content: center;
 background-color: white;
  border: 1px solid #cccccc;
  padding: 6px 12px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  
  
}